$DarkGreen: #164a41;
$MediumGreen: #4d774e;
$LightGreen: #9dc88d;
$NaturalYellow: #f1b24a;
$White: #ffffff;

@media only screen and (max-width: 730px) {
    .person {
        display: flex;
        flex-direction: column;

        .hide {
            display: none;
        }
    }
}

.about-container {
    h1 {
        text-align: center;
        background: $DarkGreen;
        width: 100vw;
        padding: 20px 0;
        color: $White;
        text-shadow: 2px 2px black;
        -webkit-box-shadow: 0 10px 5px #888888;
        -moz-box-shadow: 0 10px 5px #888888;
        box-shadow: 0 10px 5px #888888;
        margin-bottom: 20px;
    }
}

.about-us {
    // height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: center;

    .person {
        margin: 2rem;
        width: 280px;
        // height: 450px;
    }
    .person-name {
        text-align: center;
        font-weight: bold;
        padding: 0.3rem 0;
    }

    .person-img {
        text-align: center;

        img {
            height: 280px;
            border-radius: 1em;
        }
    }

    p {
        margin: 0.3rem 0;
        // width: 280px;
    }
}

// CONTACT US FORM
.form {
    background-color: white;
    padding: 3% 7%;
    overflow: auto;

    &-data {
        overflow: auto;
        padding: 2%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-value {
            border-bottom: 1px solid gray;
            width: 40%;
        }
    }

    &-text {
        padding: 2%;
        overflow: auto;

        p {
            margin: 0;
        }
    }
}

.heading {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: $DarkGreen;
}

textarea {
    width: 98%;
    padding: 1%;
}

input {
    margin: 1%;
    border: none;
    background-color: transparent;
    width: 100%;
    color: $DarkGreen;
}

.form-button {
    margin: 1% 0;
}

.submit-button {
    width: 96%;
    margin: 2% 2%;
    background-color: $DarkGreen;
    border: none;
    border-radius: 0.3em;
    color: white;
    padding: 2%;
    font-family: "Advent Pro", sans-serif;
}
