$DarkGreen: #164A41;
$MediumGreen: #4D774E;
$LightGreen: #9DC88D;
$NaturalYellow: #F1B24A;
$White: #FFFFFF;

@media only screen and (max-width: 920px) {
        .hide {
            display: none;
          }
        #about-us {
            flex-wrap: wrap;
            margin: 0 5%;
        }
        .person {
            margin: auto;
        }
    
}

.about-container h1{
        text-align: center;
        background: $DarkGreen;
        width: 100vw;
        padding: 20px 0;
        color: $White;
        text-shadow: 2px 2px black;
}

#about-us {
    // margin: 5% 0%;
    display: flex;
    justify-content: space-around;
    border: 2px solid $DarkGreen;
    border-radius: 5px;
    background-color: whitesmoke;
    opacity: .9;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.about-us__container {
    padding: 5% 10%;
    box-sizing: border-box;
    background-image: url('../img/details-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
  
.person {
    margin: 2rem;
    width: 280px;
}
    .person-name {
        text-align: center;
        font-weight: bold;
        padding: .3rem 0;
    }

    .person-img {
        text-align: center;

        img {
            height: 280px;
            border-radius: 1em;
            
        }
    }

    p {
        margin: .3rem 0;
    }
}
