@import "details.scss";
@import "./form.scss";
@import "edit.scss";
@import "./navbar.scss";
@import "./banner.scss";
@import "./login.scss";
@import "./forgot.scss";
@import "./about.scss";
@import "./index.scss";

$main_green: #cae265;

* {
    font-family: "Quicksand", sans-serif !important;
    margin: 0;
}

.button {
    margin-left: 47%;
    margin-bottom: 20px;
    width: 100px;
    height: 50px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: $main_green;
    box-shadow: 0px 15px 20px rgba($main_green, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

//LOGOUT BUTTON

.button-logout {
    margin-left: 10%;
    width: 80px;
    height: 30px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-logout:hover {
    background-color: $main_green;
    box-shadow: 0px 15px 20px rgba($main_green, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

//BUTTON REGISTER

.button-register {
    margin-left: 1rem;
    margin-bottom: 20px;
    margin-top: 2rem;
    width: 100px;
    height: 50px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-register:hover {
    background-color: $main_green;
    box-shadow: 0px 15px 20px rgba($main_green, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
