@import "details.scss";
@import "./form.scss";
@import "edit.scss";
@import "./navbar.scss";
@import "./banner.scss";
@import "./login.scss";
@import "./forgot.scss";

$main_green: #cae265;

* {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

// About us page
.about-us {
    background-color: lightblue;
    display: flex;
    // justify-content: space-between;

    .person {
        justify-content: space-around;
        margin: 20px;
        width: 7em;
        height: 10em;
        border: 0.05rem solid #979393;
        box-shadow: 0.2em 0.25em 0.25em rgba(65, 64, 64, 0.5);
        background-color: whitesmoke;
        color: $MediumGreen;
        text-shadow: 1px 1px black;
        opacity: 0.8;
        border-radius: 1em;
        justify-content: center;
    }
}
