$main_green: #cae265;
$DarkGreen: #164a41;
$MediumGreen: #4d774e;
$LightGreen: #9dc88d;
$NaturalYellow: #f1b24a;
$White: #ffffff;
$canary: #fffd98ff;
.edit-page {
  padding: 5% 10%;
  background-image: url('../img/details-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.edit-form {
  padding: 5%;
  border: 3px solid $MediumGreen;
  background-color: white;

  h1 {
    text-align: center;
  }

  p {
    text-align: justify;
  }

  img {
    height: 240px ;
    display: block;
    margin: 0 auto;
  }

  .heading-center {
    text-align: center;
  }

}

.edit-form-group__item {
  display: flex;
  margin: 2% 0;
  justify-content: space-around;
}

.edit-form-group__label {
  width: 45%;
  padding-right: 3%;
}

.edit-form-group__input, .edit-form-group__textarea, .edit-form-group__select {
  width: 45%;
}

.edit-form-group__media {
  display: flex;
  flex-direction: column;
  align-content: space-around;

  .edit-form-group__input {
    margin-top: 5%;
    width: 100%;
  }
}

@media (max-height: 530px) {
  .edit-form-group__item.media {
    display: flex;
    flex-direction: column !important;
  }
}

.edit-ingredient-list-wrapper {
  margin: 5% 0;
}

.edit-form-group__item .edit-ingredient-list {
  display: flex;
  flex-direction: column;
}

.edit-ingredient-list  {
  li {
    padding: 3% 0;
    border-bottom: 2px solid $MediumGreen;
  }

}

.ingredient-list-btn__container {
  display: flex;
  button {
    display: block;
    margin-right: 0;
  }
}

.ingredient-list-item {
  display: flex;

  .edit-form-group__label span {
    padding-left: 15%;
  }

  .edit-form-group__select {
    width: 100%;
  }
}

.edit-form-group__steps {
  margin: 5% 10%;

  textarea {
    width: 100%;
    padding: 1rem;
  }
}
.delete-recipe p{
   
    text-align: center;
    font-weight: bold;
    margin: 1em auto; 
}
.delete-recipe-btn {
        margin-left: 47%;
        // margin: auto;
        margin-bottom: 20px;
        width: 100px;
        height: 50px;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        border: 2px solid red;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        color: red;
}


.remove-step, .remove-combo {
  margin: 1rem;
  width: 70px;
  height: 25px;
  font-size: 11px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}


.remove-step:hover, .remove-combo:hover {
  background-color: $main_green;
  box-shadow: 0px 15px 20px rgba($main_green, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

