$main_green: #cae265;
$DarkGreen: #164a41;
$MediumGreen: #4d774e;
$LightGreen: #9dc88d;
$NaturalYellow: #f1b24a;
$White: #ffffff;
$canary: #fffd98ff;

.page-create {
    padding: 5% 10% !important;
    background-image: url('../img/details-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.form__container {
    display: flex;
    flex-direction: column;
    // font-family: "PT Sans Caption", sans-serif;
}

.form-heading {
    text-align: center;
    border-bottom: 2px solid $canary;
    color: $White;
}

.form-group {
    width: 80vw;
    margin: 40px auto;
    border: 1px solid black;
    background-color: $DarkGreen;
}

.form-group__item {
    padding: 1rem;
}

.form-group__label {
    color: $White;
    font-weight: 600;
    line-height: 40px;
    border-bottom: $DarkGreen 2px solid;
    font-size: 1rem;
}

.hover:hover {
    color: $NaturalYellow;
    border-bottom: 2px $NaturalYellow solid;
}
.hover1:hover {
    color: $NaturalYellow;
}

.form-group__select {
    border: 3px solid $NaturalYellow;
    height: 25px;
    width: 212px;
    margin-left: 5.8rem;

    &-diet {
        border: 3px solid $NaturalYellow;
        height: 25px;
        width: 212px;
        margin-left: 7.2rem;
    }

    &-time {
        border: 3px solid $NaturalYellow;
        height: 25px;
        width: 212px;
        margin-left: 4.38rem;
    }
}

.form-input {
    border: 3px solid $NaturalYellow;
    height: 25px;
    width: 203px;
    margin-left: 2.95rem;
    background-color: white;

    &-photo {
        border: 3px solid $NaturalYellow;
        height: 25px;
        width: 200px;
        margin-left: 6.05rem;
        background-color: white;
    }

    &-video {
        border: 3px solid $NaturalYellow;
        height: 25px;
        width: 200px;
        margin-left: 6.15rem;
        background-color: white;
    }

    &-url {
        border: 3px solid $NaturalYellow;
        height: 25px;
        width: 200px;
        margin-left: 3.59rem;
        background-color: white;
    }
}

.form-group__item-container {
    margin: 0 1rem; 
}

.form-group__textarea {
    border: 3px solid $NaturalYellow;
    margin-left: 3.75rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 205px;
}

.ingredient-list {
    margin-left: 1rem;
}

.select2-selection__rendered {
    font-weight: 600;
    line-height: 40px;
}

.desctiption {
    padding-bottom: 2rem;
}

// BUTTONS

.ingredient-list-btn {
    display: block;
    margin: 1rem auto;
    width: 70px;
    height: 25px;
    font-size: 11px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}

.ingredient-list-btn-textarea {
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 25px;
    font-size: 11px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.ingredient-list-btn:hover {
    background-color: $main_green;
    box-shadow: 0px 15px 20px rgba($main_green, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.ingredient-list-btn-textarea:hover {
    background-color: $main_green;
    box-shadow: 0px 15px 20px rgba($main_green, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.btn-submit {
    margin-left: 47%;
    margin-bottom: 20px;
    width: 100px;
    height: 50px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-submit:hover {
    background-color: $main_green;
    box-shadow: 0px 15px 20px rgba($main_green, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.form-create {
    li {
        color:white;
    }
}

.steps {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;

    .form-group__textarea {
        width: 50%
    }

}

