$DarkGreen: #164a41;
$MediumGreen: #4d774e;
$LightGreen: #9dc88d;
$NaturalYellow: #f1b24a;
$White: #ffffff;
$canary: #fffd98ff;
$granny-smith-apple: #bde4a7ff;
$platinum: #ebebebff;
$white: #ffffffff;
$glaucous: #628abcff;
$Lime: #c9e265;

.profile {
    display: flex;
}

.profile-header {
    margin: 2rem;
}

.profile-icon {
    img {
        padding: 2rem;
        width: 120px;
        display: block;
        margin: 0 auto;
    }
}

.profile-management {
    min-height: 100vh;
    min-width: 300px;
    transition: 0.45s;
    display: flex;
}

#profile-header {
    background-color: $Lime;
}

#profile-mng {
    background-color: $Lime;
    font-size: 0.9rem;
    padding-right: 2rem;
    transition: all 0.6s;
}

#profile-update {
    padding: 5%;
}

.profile-management--off {
    min-height: 100vh;
    width: 70px;
    display: flex;

    padding: 0 !important;
}

.profile-management__header {
    width: 150px;

}

.profile-management__header--off {
    width: 100%;
}

.profile-management__update {
    width: 70%;
    visibility: visible;
    padding: 0% 5%;
}

.profile-management__update--off {
    width: 0%;
    display: none;
    transition: linear 0.45s;
}

.profile-fave {
    min-height: 100vh;
    width: 90vw;
    text-align: justify;
    font-size: 1.5rem;
}

.button-profile {
    width: 65px;
    height: 30px;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-profile:hover {
    background-color: $main_green;
    box-shadow: 0px 15px 20px rgba($main_green, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
